.dataGereja-component {
   background-color: white;

   .content {
      background-color: #ffffff;
      padding: 15px;
   }
   .cardBencanaRight {
      padding: 10px;
      .box {
         display: inline-block;
         width: 20px;
         height: 20px;
         border: 1px solid rgba(0, 0, 0, 0.2);
      }

      .red {
         background: red;
      }

      .orange {
         background: orange;
      }

      .yellow {
         background: yellow;
      }

      .green {
         background: green;
      }
   }

   .bencana {
      
      overflow-x: hidden;
      overflow-y: hidden;
      width: 10%;
      display: block;
      margin: 0 auto !important;
   }

   .rt-table{
      overflow-x: hidden;
      overflow-y: auto;
      
  
      &::-webkit-scrollbar {
          width: 4px;
          height: 10px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
      background: #aaaaaa; 
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
          background: #729edf; 
          border-radius: 4px;
          width: 20px;
      }
   }
}
